<!DOCTYPE html>

<!-- {{dev}}
	Code between "dev" lines will be removed during the static
	build and lines between the "build" lines will be enabled.
{{/dev}} -->

<html>
<head>
	<title>MetaCPAN Explorer</title>

<!-- {{dev}} -->
	<link rel="stylesheet/less" type="text/css" href="styles.less" />
	<script src="inc/less.js" type="text/javascript"></script>
<!-- {{/dev}} -->

<!-- {{build}}
	<link rel="stylesheet" type="text/css" href="styles.css">
{{/build}} -->

	<script src="//yandex.st/highlightjs/7.3/highlight.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- {{dev}} -->
	<script data-main="app/app.js" src="inc/require.js"></script>
<!-- {{/dev}} -->

<!-- {{build}}
	<script src="app.js"></script>
{{/build}} -->

</head>
<body>
	<noscript>This page requires JavaScript.</noscript>
</body>
</html>
